.body-component{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
}
.declarative{
    color: #6D6D6D;
    font-weight: 300;
}
.component-Based{
    color: #6D6D6D;
    font-weight: 300;
}
.learn-Once{
    color: #6D6D6D;
    font-weight: 300;
}
.para1{
    font-size: 17px;
    line-height: 1.7;
    padding-top: 20px;
}
.para2{
    font-size: 17px;
    line-height: 1.7;
    padding-top: 20px;
}
.para3{
    font-size: 17px;
    line-height: 1.7;
    padding-top: 20px;
}
hr{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}