*{
    margin: 0;
}
.nav-bar{
    height: 40px;
    background-color: #20232A;
    width: 100%;
}
.react-logo{
    height: 10px;
    width: 10px;
}
.nav-bar-items{
    display: flex;

}
li{
padding: 10px;
list-style-type: none;
color: white;
font: 1em sans-serif;
}




