li{
    margin-top: 0px !important;
}
.nav-bar{
    padding: 0 !important;
}
input[type=text]{
    width: 180px !important;
}
@media screen and (max-width: 1210px){
    .search-bar input[type=text]{
        width: 0px !important;
        background-position: 5px 5px !important;
    }
}